div#root{
	  min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

body{
	margin:0;
	padding: 0;
  color:white;
}




p::selection, h2::selection, div::selection, h3::selection{
	background-color: rgb(124, 51, 131);
	color: white;
}

html { 
  /*background: linear-gradient(135deg, #1b1b1b 60%, darkorange);*/
  background-color: #1b1b1b;
  scroll-behavior: smooth;
}


pre{
  max-height: 400px;
  overflow: auto;
}
