label{
 	font-family: Arial;
    font-weight: bold;
    font-size: 50pt;
    color: white;
}
.fire{
    text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #feec85,
                -20px -20px 40px #ffae34,
                20px -40px 50px #ec760c,
                -20px -60px 60px #cd4606,
                0 -80px 70px #973716,
                10px -90px 80px #451b0e,
           /* 3d effect follows */
                1px 1px 0 yellow,
                2px 2px 0 orange,
                3px 3px 0 red;
}
