footer{
  color: darkorange;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


footer div a i{
	background-color: white!important;
	margin: 15px;
  border-radius:10px;
  border: 5px solid white;
}

footer div i.fa-facebook{  
   color:blue;
}

footer div i.fa-youtube{  
   color:red;
}

footer div i.fa-github{  
   color: #353132;
}

footer div i.fa-linkedin{  
   color:magenta;
}

i.fa-phone-volume{
  color: darkgreen;
  background-color: white!important;
	margin: 5px;
  border-radius:10px;
  border: 5px solid white;
}
i.fa-envelope{
	background-color: white!important;
	margin: 5px;
  border-radius:10px;
  border: 5px solid white;
	color: red;
}