header{
  background-color: black;
  height: 80px;
  width: 100%;
}

label.logo{
  color: black;
  font-size: 43px;
  line-height: 80px;
  padding: 0 5rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
header ul{
  float: right;
  margin-right: 7rem;
}
header ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
header ul li a{
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 3px;
   text-transform: uppercase; 
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
header a.active, header a:hover{
  background: #cd4606;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1033px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }
  header ul li a{
    font-size: 16px;
  }
}
@media (max-width: 802px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #cd4606;
    top: 80px;
    left: -110%;
    text-align: center;
    transition: all .7s;
    z-index: 99;
  }
  
  header ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  header ul li a{
    font-size: 20px;
    text-decoration: none;
  }
  header a:hover,header a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
    z-index: 99;
  }
}
