
.home{
    height: 70vh;
}

.mansite{
    position: relative;
    top: 10em;
    left: 0;
    max-width: 600px;
    max-height: 600px;
}

.more{
    position: relative;
    top: 8em;
    right: 2em;
   
}

.more a{
    padding-left: 20px;
    padding-right: 20px;
}