footer{
	margin-top:20px; 
	background: gray;
	border: 1px solid green;
	color: white;
}

.header2{
	background : #0B2161;
	color: white;
	width: 100%;
	height: 300px;
	position: relative;
	
}

.my-img{
	width: 140px;
	height: 160px;
	margin-left: 10px;
	margin-top: 40px;
	margin-bottom: 50px;
	border-radius: 7px;
}
svg{
	position: absolute;
     right: 0;
	top:0;
}






















.img{
	width: 500px;
	height: 450px;
}
.dirs{
	width: 300px;
	height: 500px;
}

code, pre{
	max-height: 400px;
}

.elements{
	display: grid;
}

.element{

  min-height: 250px;
}

.articles{

}

.activities{

}

.my-image{
	height: 100%;
	width: 100%;
}

.aboutme{

}
.hello-alert{
	text-align: center;
	box-shadow: 1px 5px 5px green;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: blue;
	
}
