.has-sidebar #navbar{
	transform: translateX(0);
	transition: transform .5s;
}

#btn-menu{
	position: absolute;
	top: 0;
	right: 0;
}

#navbar{
	transform: translateX(200px);
 	position: absolute;
 	top: 0;
 	right: 0;
 	width: 200px;
 	height: auto;
 	background-color: darkblue;
 	color: white;
 	font-weight: bold;
}

#navbar ul {
	display: inline-block;
}
#navbar ul li a{
	text-decoration: none;
}

